<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bossy.kalive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name="com.bossy.kalive.DaemonPui"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:taskAffinity=".pui"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <provider
            android:name="com.bossy.kalive.DaemonPro"
            android:authorities="${applicationId}.provider.LivePro"
            android:exported="false" />

        <service
            android:name="com.bossy.kalive.DaemonSvr"
            android:exported="true"
            android:stopWithTask="false" />
        <service android:name="com.bossy.kalive.DaemonSvr$NSvr" />

        <service
            android:name="com.bossy.kalive.DaemonSvr$JobSvr"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <receiver
            android:name="com.bossy.kalive.DaemonSvr$InternalReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
