<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sogou.daemon.demo">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:name="com.sogou.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sogou.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sogou.demo.NotifyResidentService"
            android:process=":resident">
            <intent-filter>
                <action android:name="com.sogou.demo.NotifyResidentService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.sogou.bgstart.ScreenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:hardwareAccelerated="true"
            android:taskAffinity=":ScreenActivity"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.action.MATCH_DOING" />
            </intent-filter>
        </activity>
    </application>

</manifest>