<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alive.daemon.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name="com.alive.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.alive.demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.alive.demo.NotifyResidentService"
            android:exported="true"
            android:process=":resident">
            <intent-filter>
                <action android:name="com.sogou.demo.NotifyResidentService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.alive.demo.ReminderActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":reminder"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
    <!--    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />-->
</manifest>